---
import { getPost } from "../../api/post";
import Header from "../../components/Header.astro";
import ChevronLeft from "../../icons/chevron-left.astro";
import Logo from "../../icons/logo.astro";
import MainLayout from "../../layouts/Main.astro";
import PostLayout from "../../layouts/Post.astro";
import { formatDate } from "../../utils";
import { frontmatter, parse } from "../../utils/markdown";

const { postId } = Astro.params;

const post = await getPost(Number(postId));
const data = frontmatter(post);
const { content } = parse(post.body);

const publishedAt = formatDate(post.publishedAt);
---

<MainLayout title={post.title}>
  <header class="bg-primary text-on-primary h-[80%]">
    <PostLayout>
      <div class="flex flex-col justify-between gap-8">
        <Header backLink="/posts">
          <span slot="back-link"><b>All posts</b> by Oleksandr</span>
        </Header>
        {
          data.poster && (
            // TODO: apply image optimizations
            <img
              src={data.poster}
              alt={data.posterAlt}
              class="mx-auto aspect-video min-h-0 rounded-xl shadow-xl"
            />
          )
        }
        <div class="flex flex-col gap-8 text-center">
          <h1 class="text-4xl font-semibold md:text-6xl">{post.title}</h1>
          <time datetime={post.publishedAt} class="text-on-primary/90 text-sm"
            >{publishedAt}</time
          >
        </div>
      </div>
    </PostLayout>
  </header>
  <PostLayout class="flex flex-col gap-8">
    <header class="flex flex-col gap-8"></header>
    <main set:html={content} class="main text-on-background/80" />
  </PostLayout>
</MainLayout>

<style is:global>
  .main kbd {
    box-shadow: inset 0 -1px 0 theme("colors[slate][500]");
    @apply rounded-md text-[0.7rem] align-middle inline-block px-1 py-0.5 font-mono leading-none text-slate-300 border-[1px] border-slate-500 bg-slate-800;
  }
</style>
