---
import { getPostsData } from "../../api/posts";
import Logo from "../../icons/logo.astro";
import MainLayout from "../../layouts/Main.astro";
import { frontmatter } from "../../utils/markdown";

const topic = Astro.url.searchParams.get("topic");

// clean up empty URL param
if (!topic && Astro.url.searchParams.has("topic")) {
  return Astro.redirect("/posts");
}

let { posts, topics } = await getPostsData(50, { topic });
const pinnedPostIndex = posts.findIndex((post) =>
  post.labels.nodes.some((label) => label.name === "_pinned")
);
let pinnedPost: (typeof posts)[number];
if (pinnedPostIndex > -1) {
  pinnedPost = posts.splice(pinnedPostIndex, 1);
}
---

<MainLayout
  title="Oleksandr Sh. content"
  description="Sharing ideas about Software Engineering, Web Development, and Life of an Indie hacker through text, code and memes."
>
  <div class="bg-primary text-on-primary p-8">
    <nav>
      <a
        href="/"
        aria-label="Home page"
        class="outline-on-primary text-on-primary flex flex-row items-center justify-between gap-6 text-2xl font-medium decoration-2 underline-offset-2 outline-2 hover:underline"
      >
        <span>Oleksandr Sh.</span>
        <Logo />
      </a>
    </nav>
    <main>
      <h1 class="mb-16 mt-12 text-7xl font-bold">Posts</h1>
      <ul class="text-on-primary flex flex-row gap-2 pl-2.5">
        <li
          class="p-2 font-light decoration-2 underline-offset-2 hover:underline"
        >
          <a href="?topic=">All</a>
        </li>
        {
          topics.map((topic) => {
            const name = topic.name.slice(topic.name.indexOf(":") + 1);
            return (
              <li class="p-2 font-light decoration-2 underline-offset-2 hover:underline">
                <a href={`?topic=${name}`}>{name}</a>
              </li>
            );
          })
        }
      </ul>
      <div class="pt-8"></div>
      {pinnedPost ? <article /> : null}
      <ul class="flex flex-col gap-4">
        {
          posts.map((post) => {
            const data = frontmatter({ body: post.body });
            return (
              <li>
                <a
                  href={`/posts/${post.number}`}
                  class="text-on-primary flex flex-col gap-2 rounded-xl p-4"
                >
                  <img
                    src={data.poster}
                    alt={data.posterAlt}
                    class="max-h-32 w-auto self-start rounded-xl"
                  />
                  <span class="text-xl">{post.title}</span>
                  <p class="text-md">{data.description}</p>
                </a>
              </li>
            );
          })
        }
      </ul>
    </main>
  </div>
</MainLayout>
