---
import { Image } from "astro:assets";
import Header from "../../../components/Header.astro";
import HeartIcon from "../../../icons/heart.astro";
import LinkIcon from "../../../icons/link.astro";
import DevtoIcon from "../../../icons/devto.astro";
import TopicIcon from "../../../icons/topic.astro";
import MainLayout from "../../../layouts/Main.astro";
import PostLayout from "../../../layouts/Post.astro";
import { formatDate } from "../../../utils";
import type { InferGetStaticPropsType } from "astro";
import { getFeed } from "../../../content";
import Share from "../../../components/Share.astro";
import { components } from "../../../components/markdown";
import ButtonWithLabel from "../../../components/ButtonWithLabel.astro";

export type Props = InferGetStaticPropsType<typeof getStaticPaths>;

export async function getStaticPaths() {
  const feed = await getFeed();
  return feed.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}
const { post } = Astro.props;

if (!post) {
  return Astro.redirect("/404");
}

const { title, summary, poster, posterAlt, publishDate, tags, devTo } =
  post.data;
const publishedAt = formatDate(publishDate);
const topic = tags.at(0);
const { Content } = await post.render();
const shareData = {
  url: Astro.url.toString(),
  text: `I just read "${title}" by @lexswed`,
  title,
};
---

<MainLayout
  title={title}
  description={summary}
  image={`${Astro.url.toString()}/og.png`}
>
  <header class="bg-primary text-on-primary">
    <PostLayout>
      <div class="flex h-full flex-col gap-6 sm:gap-10">
        <Header backLink="/feed">
          <span slot="back-link" class="flex flex-row gap-1"
            ><b>All posts</b>
            <span class="hidden xs:inline">by Oleksandr</span></span
          >
        </Header>
        <div class="my-auto flex flex-col gap-6 sm:gap-8">
          {
            poster ? (
              <Image
                src={poster}
                widths={[400, 800]}
                alt={posterAlt}
                loading="eager"
                class="mx-auto h-[30vh] min-h-0 w-auto self-center rounded-2xl object-cover shadow-xl"
              />
            ) : null
          }
          <div class="flex flex-col gap-8">
            <h1 class="text-3xl font-bold [text-wrap:balance] sm:text-4xl">
              {title}
            </h1>
            <div class="flex justify-between text-base text-on-primary/90">
              {
                topic && (
                  <div class="flex items-center gap-2">
                    <TopicIcon class="size-4" />
                    <span>
                      Published in{" "}
                      <a
                        href={`/feed?topic=${topic}`}
                        class="font-semibold underline-offset-2 hover:underline focus:underline"
                        data-astro-reload
                      >
                        {topic}
                      </a>
                    </span>
                  </div>
                )
              }
              <time datetime={publishDate.toISOString()}>{publishedAt}</time>
            </div>
          </div>
        </div>
      </div>
    </PostLayout>
  </header>
  <div>
    <main class="main text-on-background/90">
      <PostLayout>
        <Content components={components} />
      </PostLayout>
    </main>
    <PostLayout>
      <footer
        class="flex flex-wrap items-center justify-between gap-8 rounded-lg bg-on-background/10 p-8 text-on-background"
      >
        <div class="text-md flex items-center gap-4">
          <HeartIcon class="w-5 text-red-300" /> Sharing is caring
        </div>
        <div class="flex w-full justify-center gap-6 sm:w-auto">
          {
            devTo ? (
              <ButtonWithLabel
                as="a"
                href={devTo}
                target="_blank"
                rel="noopener"
                label="Discuss ⤴"
              >
                <DevtoIcon class="size-6" />
              </ButtonWithLabel>
            ) : null
          }
          <Share shareData={shareData}>
            <LinkIcon class="size-5" />
          </Share>
        </div>
      </footer>
    </PostLayout>
  </div>
</MainLayout>
