---
import { getPost, getPosts } from "../../api/github";
import ChevronLeft from "../../icons/chevron-left.astro";
import MainLayout from "../../layouts/Main.astro";
import { formatDate } from "../../utils";
import { frontmatter, parse } from "../../utils/markdown";

export async function getStaticPaths() {
  const posts = await getPosts();
  return posts.map((post) => {
    return {
      params: {
        postId: post.number,
      },
    };
  });
}

const { postId } = Astro.params;

const post = await getPost(Number(postId));
const data = frontmatter(post);
const content = parse(post.body);

const publishedAt = formatDate(post.publishedAt);
---

<MainLayout title={post.title}>
  <header>
    <a href="/" title="Go Back" aria-label="Go Back">
      <ChevronLeft aria-hidden="true" class="h-8" />
    </a>
  </header>
  <div class="mx-auto flex max-w-4xl flex-col gap-8">
    <header class="flex flex-col gap-8">
      <h1 class="text-4xl">{post.title}</h1>
      {
        data.poster && (
          <img src={data.poster} alt={data.posterAlt} class="rounded-lg" />
        )
      }
      <time datetime={post.publishedAt} class="text-md">{publishedAt}</time>
    </header>
    <main set:html={content} />
  </div>
</MainLayout>
