---
import { getFeed } from "../../api/posts";
import Header from "../../components/Header.astro";
import PinnedPost from "../../components/PinnedPost.astro";
import MainLayout from "../../layouts/Main.astro";
import PostLayout from "../../layouts/Post.astro";
import { formatDate } from "../../utils";
import { parse } from "../../utils/markdown";

const topic = Astro.url.searchParams.get("topic");

export const prerender = true;

// clean up empty URL param
if (!topic && Astro.url.searchParams.has("topic")) {
  return Astro.redirect("/feed");
}

let { pinnedPost, feed, topics } = await getFeed(100, { topic });
---

<MainLayout
  title="Feed – Oleksandr Sh."
  description="Sharing ideas about Software Engineering, Web Development, and Life of an Indie hacker through text, code and memes."
  image="/feed.jpeg"
>
  <header class="bg-primary text-on-primary">
    <PostLayout>
      <Header backLink="/">
        <span class="font-semibold" slot="back-link">Oleksandr Sh.</span>
      </Header>
    </PostLayout>
  </header>
  <main>
    <div
      class="bg-primary text-on-primary flex flex-col items-start justify-between"
    >
      <PostLayout>
        <h1 class="mb-12 text-7xl font-bold md:mb-24">Notes</h1>
        {pinnedPost && <PinnedPost post={pinnedPost} />}
      </PostLayout>
    </div>
    <PostLayout>
      <div class="flex flex-col gap-12 sm:gap-16">
        <ul class="flex max-w-full flex-row gap-4 overflow-auto p-2">
          <li
            class:list={[
              !topic
                ? "bg-primary text-on-primary"
                : "bg-transparent text-on-background",
              "min-w-[3rem] text-sm rounded-full px-2 py-1 text-center font-light focus-within:ring-2 ring-on-background",
            ]}
          >
            <a class="outline-none" href="?topic=">All</a>
          </li>
          {
            topics.map((label) => {
              const name = label.name.slice(label.name.indexOf(":") + 1);
              return (
                <li
                  class:list={[
                    topic === label.name
                      ? "bg-primary text-on-primary"
                      : "bg-transparent text-on-background hover:bg-on-background/10 focus:bg-on-background/10",
                    "min-w-[3rem] transition-colors duration-150 text-sm rounded-full px-2 py-1 text-center font-light focus-within:ring-2 ring-on-background",
                  ]}
                >
                  <a class="outline-none" href={`?topic=${label.name}`}>
                    #{name}
                  </a>
                </li>
              );
            })
          }
        </ul>
        <ul class="flex flex-col gap-8 sm:gap-16">
          {
            feed.map((post) => {
              return (
                <li>
                  <a
                    href={`/feed/${post.slug}`}
                    class="text-on-background bg-on-background/10 group/post hover:bg-on-background/10 focus:bg-on-background/10 grid gap-4 rounded-lg p-8 outline-none transition-colors duration-150 sm:grid-cols-[4fr_5fr] sm:items-center sm:gap-8 sm:bg-transparent"
                  >
                    <h3 class="text-2xl group-hover/post:underline group-focus/post:underline sm:hidden">
                      {post.title}
                    </h3>
                    <div class="w-full shrink-0">
                      {post.poster ? (
                        <img
                          src={post.poster.img}
                          alt={post.poster.alt}
                          class="ring-on-background/80 shadow-background w-full rounded-md object-contain shadow-md transition-shadow duration-300 group-hover/post:ring-2 group-focus/post:ring-2"
                        />
                      ) : (
                        <div class="w-full" />
                      )}
                    </div>
                    <div class="hidden h-full flex-col justify-center gap-4 sm:flex">
                      <h3 class="text-3xl group-hover/post:underline group-focus/post:underline">
                        {post.title}
                      </h3>
                      <p class="text-md text-on-background/90 ">
                        {post.summary}
                      </p>
                    </div>
                    <div class="hidden sm:block" />
                    <div class="text-on-background/80 flex flex-row flex-wrap items-center justify-between gap-4 text-sm">
                      <ul class="flex flex-row flex-wrap gap-2">
                        {post.tags?.map((tag) => (
                          <li>#{tag.name}</li>
                        ))}
                      </ul>
                      <time datetime={post.createdAt}>
                        {formatDate(post.createdAt)}
                      </time>
                    </div>
                  </a>
                </li>
              );
            })
          }
        </ul>
      </div>
    </PostLayout>
  </main>
</MainLayout>
