---
import { ClientRouter } from "astro:transitions";
import { getImage } from "astro:assets";

import placeholderImage from "../../public/og/Alex-V.jpeg";
import "../global.css";

export interface Props {
  title: string;
  description?: string;
  image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image } = Astro.props;
const themeColor = "var(--color-primary)";
const imageUrl = new URL(
  image ||
    (await getImage({ src: placeholderImage, width: 300, height: 300 })).src,
  Astro.url.origin,
).toString();
const domain = Astro.url.hostname;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="generator" content={Astro.generator} />
<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>

<!-- Mobile browser theme -->
<meta name="color-scheme" content="dark" />
<meta name="theme-color" content={themeColor} />
<meta
  name="theme-color"
  media="(prefers-color-scheme: light)"
  content={themeColor}
/>
<meta
  name="theme-color"
  media="(prefers-color-scheme: dark)"
  content={themeColor}
/>
<link rel="icon" href="/favicon.ico" sizes="any" />
<link rel="icon" href="/icon.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<link rel="manifest" href="/manifest.webmanifest" />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
{description && <meta name="description" content={description} />}

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
{description && <meta property="og:description" content={description} />}
{image && <meta property="og:image" content={imageUrl} />}

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content={domain} />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
{description && <meta property="twitter:description" content={description} />}
{image && <meta property="twitter:image" content={imageUrl} />}

<style is:global>
  :root {
    color-scheme: dark;
  }
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-sans);
  }
</style>

<ClientRouter />
