---
import ArrowUpRightIcon from "../icons/arrow-up-right.astro";

interface Job {
  title: string;
  company: string;
  href: `https://${string}`;
  style: {
    backgroundHsl: `${number} ${number}% ${number}%`;
    textHsl: `${number} ${number}% ${number}%`;
  };
  current?: true;
}
const jobs: Job[] = [
  {
    company: "Skyscanner",
    href: "https://www.skyscanner.net",
    title: "Senior Software Engineer",
    style: {
      backgroundHsl: "214 100% 45%",
      textHsl: "0 0% 100%",
    },
    current: true,
  },
  {
    company: "Typeform",
    title: "Senior Frontend Engineer",
    href: "https://www.typeform.com",
    style: {
      backgroundHsl: "240 1% 15%",
      textHsl: "0 0% 100%",
    },
  },
  {
    company: "Pipedrive",
    title: "Frontend Engineer",
    href: "https://www.pipedrive.com",
    style: {
      backgroundHsl: "114 76% 90%",
      textHsl: "210 7% 16%",
    },
  },
];
---

<section class="flex flex-col" aria-labelledby="contributions">
  <header class="text-3xl font-medium" id="contributions">Contributions</header>
  <ul class="list flex flex-row flex-nowrap gap-4 overflow-auto">
    {
      jobs.map(({ href, company, title, current, style }) => (
        <li>
          <a
            href={href}
            target="_blank"
            rel="noopener noreferrer"
            class:list={[
              "card",
              current && "current",
              "flex gap-2 flex-col items-start flex-shrink-0 rounded-2xl p-4",
            ]}
            style={{
              "--bg-hsl": style.backgroundHsl,
              "--color-hsl": style.textHsl,
            }}
          >
            <header class="text-4xl">{company}</header>
            <div class="flex flex-wrap gap-2">
              <span class="bg-on-background/50 -ml-1 block rounded-full px-2 py-1 text-sm">
                {title}
              </span>
            </div>
            <div class="arrow" aria-hidden="true">
              <ArrowUpRightIcon />
            </div>
          </a>
        </li>
      ))
    }
  </ul>
</section>

<style>
  .list {
    --p: theme("spacing.8");
    margin-inline: calc(-1 * var(--p));
    scroll-padding-inline: var(--p);
    scroll-padding-block: var(--p);
    padding: var(--p);
    scroll-snap-type: x mandatory;
  }
  .card {
    --inner-shadow-opacity: 0.2;
    scroll-snap-align: start;
    inline-size: clamp(15rem, 35rem, 80vw);
    block-size: 25rem;
    flex-shrink: 0;
    padding: var(--p);
    color: hsl(var(--color-hsl) / 1);
    background-color: hsl(var(--bg-hsl) / 1);
    box-shadow: 0 0 2px theme("colors.on-primary/var(--inner-shadow-opacity)")
        inset,
      theme("boxShadow.sm"), theme("boxShadow.DEFAULT");
    @apply relative rounded-xl;

    &:where(:focus, :hover) {
      --inner-shadow-opacity: 0.4;
      @apply outline-4 outline-stroke;
    }
  }

  @property --wave-size {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
  }
  .card.current {
    --wave-size: 2;
    --bg-hsl: 0 0 0;
    --center: calc(var(--p) * 2);
    animation: current-bg 3s infinite alternate;
    background-color: hsl(var(--bg-hsl) / 1);
    background-image: repeating-radial-gradient(
        circle at bottom var(--center) right var(--center),
        transparent 0,
        hsl(var(--bg-hsl) / 1) calc(var(--wave-size) * 1rem)
      ),
      repeating-linear-gradient(
        hsl(var(--bg-hsl) / 1),
        hsl(var(--color-hsl) / 5%)
      );
  }
  @keyframes current-bg {
    0% {
      --wave-size: 5;
    }
    100% {
      --wave-size: 7;
    }
  }
  .arrow {
    --size: 5rem;
    --gradient-position: 0%;
    padding: 1rem;
    transition: all 0.2s ease-in-out;
    block-size: var(--size);
    inline-size: var(--size);
    position: absolute;
    inset-block-end: var(--p);
    inset-inline-end: var(--p);

    @apply rounded-full;
  }
</style>
