---
import ArrowUpRightIcon from "../icons/arrow-up-right.astro";

interface Job {
  title: string;
  company: string;
  href: `https://${string}`;
  style: {
    backgroundHsl: `${number} ${number}% ${number}%`;
    textHsl: `${number} ${number}% ${number}%`;
  };
  years: [number, number | string];
}
const jobs: Job[] = [
  {
    company: "Skyscanner",
    href: "https://www.skyscanner.net",
    title: "Senior Software Engineer",
    style: {
      backgroundHsl: "214 100% 45%",
      textHsl: "0 0% 100%",
    },
    years: [2021, "now"],
  },
  {
    company: "Typeform",
    title: "Senior Frontend Engineer",
    href: "https://www.typeform.com",
    style: {
      backgroundHsl: "240 1% 15%",
      textHsl: "0 0% 100%",
    },
    years: [2020, 2021],
  },
  {
    company: "Pipedrive",
    title: "Frontend Engineer",
    href: "https://www.pipedrive.com",
    style: {
      backgroundHsl: "114 76% 90%",
      textHsl: "210 7% 16%",
    },
    years: [2018, 2020],
  },
];
---

<section class="flex flex-col" aria-labelledby="contributions">
  <header class="text-3xl font-medium" id="contributions">Contributions</header>
  <ul
    class="-mx-8 flex snap-x snap-mandatory scroll-p-8 flex-row flex-nowrap gap-4 overflow-auto p-8"
  >
    {
      jobs.map(({ href, company, title, years, style }) => (
        <li>
          <a
            href={href}
            target="_blank"
            rel="noopener noreferrer"
            class:list={[
              "card",
              "relative flex shrink-0 snap-start flex-col items-start gap-3 rounded-2xl p-8 transition-all duration-300",
            ]}
            style={{
              "--bg-hsl": style.backgroundHsl,
              "--color-hsl": style.textHsl,
            }}
          >
            <span class="text-sm">{years.join(" - ")}</span>
            <header class="text-4xl">{company}</header>
            <span class="title -ml-1 block rounded-full px-3 py-1 text-sm">
              {title}
            </span>
            <ArrowUpRightIcon
              class="absolute right-8 bottom-8 size-20 p-4"
              aria-hidden="true"
            />
          </a>
        </li>
      ))
    }
  </ul>
</section>

<style>
  .card {
    inline-size: clamp(15rem, 35rem, 80vw);
    block-size: 25rem;
    color: hsl(var(--color-hsl) / 1);
    background-color: hsl(var(--bg-hsl) / 1);
    &:where(:focus, :hover) {
      filter: brightness(0.9);
    }
  }
  .card:where(:focus, :hover) {
    --inner-shadow-opacity: 0.4;
    outline-color: var(--color-on-background);
    outline-width: 4px;
  }

  .title {
    background-color: hsl(var(--color-hsl) / 0.15);
  }
</style>
