---
import { FragmentPostsPostFragment } from "../api/generated/graphql";
import ArrowUpRight from "../icons/arrow-up-right.astro";
import { frontmatter } from "../utils/markdown";

export type Props = {
  post: FragmentPostsPostFragment;
};
const { post } = Astro.props;
const data = frontmatter(post);
const topic = post.labels.nodes.find((label) =>
  label.name.startsWith("topic:")
);
const topicName = topic ? topic.name.slice("topic:".length) : null;
---

<a
  href={`/posts/${post.number}`}
  class="group/image-container flex h-full min-h-0 max-w-2xl cursor-pointer flex-col gap-4 md:flex-row"
>
  <div class="flex flex-col items-end justify-between gap-8">
    <h3
      class="bg-primary inline-block text-2xl group-hover/image-container:underline md:text-4xl"
    >
      {post.title}
    </h3>
    <ArrowUpRight class="mr-4 mt-4 hidden h-16 w-16 md:inline-block" />
    <!-- <div class="bg-on-background text-on-primary rounded-sm p-1">
      {topicName}
    </div> -->
  </div>
  <div class="flex flex-col gap-4">
    <img
      src={data.poster}
      title={data.posterAlt}
      alt={data.posterAlt}
      class="isolate w-full min-w-0 rounded-2xl object-cover md:aspect-video"
    />
    <p class="hidden md:block">
      {data.description}
    </p>
  </div>
</a>
