---
import { FragmentPostsPostFragment } from "../api/generated/graphql";
import ArrowUpRight from "../icons/arrow-up-right.astro";
import { frontmatter } from "../utils/markdown";

export type Props = {
  post: FragmentPostsPostFragment;
};
const { post } = Astro.props;
const data = frontmatter(post);
---

<a
  href={`/posts/${post.number}`}
  class="group/image-container flex h-full min-h-0 cursor-pointer flex-col gap-6"
>
  <div class="flex flex-row items-center gap-8">
    <img
      src={data.poster}
      title={data.posterAlt}
      alt={data.posterAlt}
      class="isolate aspect-square min-w-0 max-w-sm flex-[3] rounded-2xl object-cover"
    />
    <div class="relative flex h-full flex-col gap-4 md:flex-[2]">
      <h3
        class="bg-primary inline-block text-2xl font-semibold group-hover/image-container:underline md:text-3xl"
      >
        {post.title}
      </h3>
      <p class="bg-primary hidden md:block">
        {data.description.slice(0, 120)}
      </p>
    </div>
    <ArrowUpRight
      aria-hidden="true"
      class="-ml-24 hidden h-16 w-16 self-end justify-self-end md:inline-block"
    />
  </div>
</a>
