---
import { HTMLAttributes } from "astro/types";
import Color from "color";

import { getPosts } from "../api/github";
import { formatDate } from "../utils";

export type Props = HTMLAttributes<"ul">;

const posts = await getPosts();

const { class: className, ...props } = Astro.props;
---

<ul class:list={[className]} {...props}>
  {
    posts.map((post) => {
      const topic = post.labels.nodes.find((label) =>
        label.name.startsWith("topic:")
      );

      const color = Color(`#${topic.color}`);
      const hsl = color.hsl();
      const textColor = color.isDark() ? "#fff" : "#000";
      const publishedAt = formatDate(post.publishedAt);

      // TODO: slugify
      return (
        <li class="shrink-0 snap-start">
          <a
            href={`/blog/${post.number}`}
            rel="prefetch"
            style={{
              "--bg-h": `${hsl.hue().toFixed(2)}deg`,
              "--bg-s": `${hsl.saturationv().toFixed(2)}%`,
              "--bg-l": `${hsl.lightness().toFixed(2)}%`,
              "--color": textColor,
            }}
            class="card outline-on-primary block rounded-3xl outline-4 transition-all duration-200 ease-in"
          >
            <div class="flex h-full flex-col justify-between p-8">
              <div class="self-start rounded-md bg-white/20 py-1 px-3 text-xs backdrop-blur-md">
                {publishedAt}
              </div>
              <p class="text-2xl">{post.title}</p>
            </div>
          </a>
        </li>
      );
    })
  }
</ul>

<style>
  .card {
    --bg-hsl: var(--bg-h) var(--bg-s) var(--bg-l);
    --color: theme("colors.black");
    --bg: hsl(var(--bg-hsl) / 1);
    inline-size: 25rem;
    block-size: 20rem;
    background-image: linear-gradient(
      to bottom left,
      hsl(
        min(calc(var(--bg-h) - 12deg), 360deg) max(calc(var(--bg-s) - 15%), 0%)
          max(calc(var(--bg-l) + 5%), 0%)
      ),
      hsl(
        min(calc(var(--bg-h) + 6deg), 360deg) max(calc(var(--bg-s) - 25%), 0%)
          max(calc(var(--bg-l) + 5%), 0%)
      ),
      var(--bg)
    );
    color: var(--color);
    box-shadow: 0 -1px theme("spacing.2") theme("colors.on-primary/0.2"),
      0 1px theme("spacing.4") hsl(var(--bg-hsl) / 0.8);
    perspective: 1000px;
  }
  .card:where(:hover, :focus) {
    box-shadow: 0 -1px theme("spacing.2") theme("colors.on-primary/0.2"),
      0 6px theme("spacing.8") hsl(var(--bg-hsl) / 0.8);
    transform: rotate3d(1, 0, 0, 4deg) translate3d(0, -4px, 8px);
  }
</style>
